body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 10%;
    width: 100vw;
}

#video_div{
    height: 50vh;
    width: 50vw;
}
video{
    height: 50vh;
    width: 50vw;
}